- @content_class = "limit-container-width" unless fluid_layout
- add_to_breadcrumbs _('Kubernetes Clusters'), clusterable.index_path
- breadcrumb_title @cluster.name
- page_title _('Kubernetes Cluster')
- cluster_environments_path = clusterable.environments_cluster_path(@cluster)

- status_path = clusterable.cluster_status_cluster_path(@cluster.id, format: :json) if can?(current_user, :admin_cluster, @cluster)
.edit-cluster-form.js-edit-cluster-form{ data: { status_path: status_path,
  cluster_environments_path: cluster_environments_path,
  toggle_status: @cluster.enabled? ? 'true': 'false',
  has_rbac: has_rbac_enabled?(@cluster) ? 'true': 'false',
  cluster_type: @cluster.cluster_type,
  cluster_status: @cluster.status_name,
  cluster_status_reason: @cluster.status_reason,
  provider_type: @cluster.provider_type,
  help_path: help_page_path('user/project/clusters/index.md'),
  environments_help_path: help_page_path('ci/environments/index.md', anchor: 'create-a-static-environment'),
  clusters_help_path: help_page_path('user/project/clusters/deploy_to_cluster.md'),
  deploy_boards_help_path: help_page_path('user/project/deploy_boards.md', anchor: 'enabling-deploy-boards'),
  cluster_id: @cluster.id } }

  .js-cluster-application-notice
    .flash-container

  .js-serverless-survey-banner{ data: { user_name: current_user.name, user_email: current_user.email } }

  %h4.gl-my-5
    = @cluster.name
    %span.badge.badge-info.badge-pill.gl-badge.md.gl-vertical-align-middle
      = cluster_type_label(@cluster.cluster_type)

  = render 'banner'

  .gl-alert.gl-alert-warning{ role: 'alert' }
    = sprite_icon('warning', css_class: "gl-alert-icon gl-alert-icon-no-title gl-icon")
    %button.js-close.gl-alert-dismiss{ type: 'button', 'aria-label' => _('Dismiss'), data: { testid: 'dismiss-one-click-application-removal' } }
      = sprite_icon('close', css_class: 'gl-icon')
    .gl-alert-body
      = s_('ClusterApplicationsRemoved|One-click application management was removed in GitLab 14.0. Your applications are still installed in your cluster, and integrations continue working.')
      = link_to _('More information.'), help_page_path("user/clusters/applications"), target: '_blank'

  - if cluster_created?(@cluster)
    .js-toggle-container
      %ul.nav-links.mobile-separator.nav.nav-tabs{ role: 'tablist' }
        = render 'details_tab'
        = render_if_exists 'clusters/clusters/environments_tab'
        = render 'clusters/clusters/health_tab'
        = render 'integrations_tab'
        = render 'advanced_settings_tab'

      .tab-content.py-3
        .tab-pane.active{ role: 'tabpanel' }
          = render_cluster_info_tab_content(params[:tab], expanded_by_default?)
